.category-navbar {
  display: grid;
  place-items: center;
  background: rgb(136, 136, 179);
  color: azure;
}

.category-navbar ul {
  display: flex;
}

.category-navbar ul li {
  list-style: none;
  padding: 10px;
  font-size: 1.8rem;
  cursor: pointer;
}

.category-navbar ul li:hover {
  color: aquamarine;
  transition: 0.4s;
}
