.news-card-container {
  display: grid;
  height: fit-content;
  grid-column: inherit;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  grid-template-rows: repeat(5, 1fr);
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 5px;
}

.news-card-container .card-image {
  background: url("https://c.ndtvimg.com/2022-07/qdnlmln_biden-saudi_625x300_16_July_22.jpeg");
  background-size: cover;
  grid-row: 1/5;
}

.news-card-container .card-text {
  flex-grow: 1;
  padding: 5px;
  margin: 7px 0;
  grid-row: 5/6;
}

.news-card-container .card-text .card-title {
  font-size: 2.5rem;
}

.news-card-container .card-text .card-date {
  font-size: 1.5rem;
  color: gray;
}

.news-card-container .card-text .card-desc {
  font-size: 1.8rem;
  color: rgb(77, 77, 77);
}

.news-card-container:hover {
  background: #9595b4;
}

@media (max-width: 768px) {
  .news-card-container {
    display: flex;
    flex-direction: column;
  }
  .card-image {
    height: 250px;
  }
}
