.recent-news-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: fit-content;
  transition: 0.5s;
  cursor: pointer;
  border: 1.2px solid #aaaaaa;
  border-radius: 5px;
  margin-bottom: 3px;
}

.recent-news-card-container .card-image {
  background-size: cover;
  grid-column: 1/2;
  border-radius: 3px;
  margin: 5px;
}

.recent-news-card-container .card-text {
  grid-column: 2/4;
  padding: 5px;
}

.recent-news-card-container .card-text .card-title {
  font-size: 2rem;
}

.recent-news-card-container .card-text .card-desc {
  font-size: 1.4rem;
}

.recent-news-card-container:hover {
  background-color: #9595b4;
}

@media (max-width: 768px) {
  .recent-news-card-container {
    grid-template-columns: 1fr;
  }
}
