.recent-news-heading {
  font-size: 2.5rem;
  color: gray;
  margin: 5px;
}

.recent-news-container {
  height: fit-content;
  width: auto;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.recent-news-heading {
  border-bottom: 3px solid gray;
  margin-bottom: -10px;
}

@media (max-width: 768px) {
  .recent-news-container,
  .recent-news-heading {
    display: none;
  }
}
